@model ListingCreateViewModel


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                @* <div asp-validation-summary="ModelOnly"></div>
                <div asp-validation-summary="None"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Title" class="form-control border-0 shadow" />
                    <label asp-for="Title" class="ms-2"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Address" class="form-control border-0 shadow" />
                    <label asp-for="Address" class="ms-2"></label>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="City" class="form-control border-0 shadow" />
                    <label asp-for="City" class="ms-2"></label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="State" class="form-control border-0 shadow" />
                    <label asp-for="State" class="ms-2"></label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Zipcode" class="form-control border-0 shadow" />
                    <label asp-for="Zipcode" class="ms-2"></label>
                    <span asp-validation-for="Zipcode" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Description" class="form-control border-0 shadow" />
                    <label asp-for="Description" class="ms-2"></label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Price" class="form-control border-0 shadow" />
                    <label asp-for="Price" class="ms-2"></label>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Bedrooms" class="form-control border-0 shadow" />
                    <label asp-for="Bedrooms" class="ms-2"></label>
                    <span asp-validation-for="Bedrooms" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Garage" class="form-control border-0 shadow" />
                    <label asp-for="Garage" class="ms-2"></label>
                    <span asp-validation-for="Garage" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Sqft" class="form-control border-0 shadow" />
                    <label asp-for="Sqft" class="ms-2"></label>
                    <span asp-validation-for="Sqft" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Bathrooms" class="form-control border-0 shadow" />
                    <label asp-for="Bathrooms" class="ms-2"></label>
                    <span asp-validation-for="Bathrooms" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="LotSize" class="form-control border-0 shadow" />
                    <label asp-for="LotSize" class="ms-2"></label>
                    <span asp-validation-for="LotSize" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="IsPublished" class="form-control border-0 shadow" />
                    <label asp-for="IsPublished" class="ms-2"></label>
                    <span asp-validation-for="IsPublished" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhotoMain" class="form-control border-0 shadow" />
                    <label asp-for="PhotoMain" class="ms-2"></label>
                    <span asp-validation-for="PhotoMain" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhotoOne" class="form-control border-0 shadow" />
                    <label asp-for="PhotoOne" class="ms-2"></label>
                    <span asp-validation-for="PhotoOne" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhotoTwo" class="form-control border-0 shadow" />
                    <label asp-for="PhotoTwo" class="ms-2"></label>
                    <span asp-validation-for="PhotoTwo" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhotoThree" class="form-control border-0 shadow" />
                    <label asp-for="PhotoThree" class="ms-2"></label>
                    <span asp-validation-for="PhotoThree" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhotoFour" class="form-control border-0 shadow" />
                    <label asp-for="PhotoFour" class="ms-2"></label>
                    <span asp-validation-for="PhotoFour" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhotoFive" class="form-control border-0 shadow" />
                    <label asp-for="PhotoFive" class="ms-2"></label>
                    <span asp-validation-for="PhotoFive" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PhotoSix" class="form-control border-0 shadow" />
                    <label asp-for="PhotoSix" class="ms-2"></label>
                    <span asp-validation-for="PhotoSix" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>


            </div>
        </form>
    </div>
</div>





@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}